<!--
# title-btn

Example include
    include title-btn.html 
        link = [url]
        title = [string]

Example configuration (set these CSS variables externally):
  .title {
    --btn-main-color: red;
    --btn-hover-bg-color: red;
    --btn-hover-color: white;
  }
-->

<h1 class="title">
    <a href='{{ include.link | "#" }}'>{{ include.title | default: "Title" }}</a>
</h1>


<style>

.title {
  --half-tone: url("https://guillaumekuc.github.io/blog/assets/img/dots1.svg");
  --12fps-frame-duration: 0.08s; /*apprx. duration of a frame in s, 12 fps */

  display: flex;
  width: fit-content;
  position: relative;
  border: solid 4px transparent;
  box-shadow: 0 0 0 -1px var(--btn-hover-bg-color, red);
  border-radius: 10px;
  transition: box-shadow calc(var(--12fps-frame-duration)/2) steps(1);
  transition: background calc(var(--12fps-frame-duration)/2) steps(1) calc(var(--12fps-frame-duration)/2) ;
}

.title a {
  z-index: 1;
  color: var(--btn-main-color, maroon); 
  transition: all var(--12fps-frame-duration) steps(2);
}

.title::after{ /* half-tone mask */
  display: flex;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  content: "";

  mask: var(--half-tone);
  mask-size: 110px;
  mask-type: alpha;
  background-color: white;

  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  height: 100%;
  width: 100%;
  border: 0px;
  border-radius:10px;

}

.title:hover {
  transition: box-shadow calc(2 * var(--12fps-frame-duration)) steps(3);
  border: solid 4px transparent;
  box-shadow: 0 0 0 2px var(--btn-hover-bg-color, red);
  background-color: var(--btn-hover-bg-color, red);
}

.title:hover::after {
  opacity:0.75;
}

.title:hover a {
    color: var(--btn-hover-color, white); 
    transform: scale(0.95);
    transition: transform calc(2 * var(--12fps-frame-duration)) steps(3);
}

</style>