---
---

@import "{{ site.theme }}";

/*Your custom CSS rules here */
:root {
  --primary-color: #20a0af; /*#20a0af;  #267CB9 */
  --darker-primary-color: #006885;
  --darkest-rimary-color: #000;
  --text-color: #727272; /* Grey */
  --title-color: #222; /* Dark grey */
  --background-color: #fff; /* Light gray background */
  --light-value: #eee;
  --medium-value: #c0c0c0;
  --white-value: #fff;
  --black-value: #000;
}


*, html, body {
  scroll-behavior: smooth !important;
}



a {
  color: var(--primary-color);
  transition: color 0.48s steps(4);
}

a:hover{
  font-weight: unset;
  color: var(--darker-primary-color);
  transition: unset;

}

body {

  color: var(--text-color);
  background-image: url("../img/bg01.jpg");
  background-attachment: fixed ;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
} 

body::selection {
  background-color: var(--primary-color);
  color: var(--white-value);
}
.wrapper {
  
}

header {
  display: grid;
  justify-content: center;


}

.avatar {
  --btn-size: 120px;
  --btn-main-color: var(--primary-color);
  --logo-size: 105px;
  --logo-fill: white;
  --logo-offset-y: -7.5px;
  margin-right: auto;
  margin-left: auto; 
  margin-bottom: 15px;
}

.title {
  --btn-main-color: var(--darker-primary-color);
  --btn-hover-color: white;
  --btn-hover-bg-color: var(--primary-color);
}

h1 {

  font-family: "Inter", sans-serif;
}

h2, h3, h4, h5 {
  text-align: auto;
  color: var(--primary-color); 
  transition: color 0.48s steps(4);

  font-family: "Inter", sans-serif;
}

h2 {
  color: unset;
  color: var(--darker-primary-color);
  transition: color 0.48s steps(4);
}

h2::before{
  content: "› ";

}
header p {
  text-align: center;

}
.search-input {
  display: grid;
  justify-content: center;
  width: 100%;
}

.search-input input[type="text"] {
  display:grid;
  justify-content: center;
  margin:auto;
  width:200px;
  border-radius:5px;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 15px;
}

.search-input ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
}


#results-container {
  text-align: left;
}


.social-links {

  margin-bottom: 15px;
  text-align: center;


}
.social-link i {
  margin-right: 8px;
  font-size: 24px;
  transition: all 0.08s steps(2);

}

.social-link i:hover {
  transform: scale(1.1);
  transition: transform 0.16s steps(3);

}

.reading-time {
  display: block;
  margin: auto;
  background-color: var(--light-value);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
}


@media print, screen and (max-width: 960px) {
    header {
        padding-right: 0;
    }
}

.tags {
  margin: 0.5em 0 1.5em;
}

.tag {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.2em 0.6em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--white-value);
  transition: all 0.08s steps(2);
  cursor: pointer;
  transition: background-color 0.48s steps(4);

}

.tag:hover {
  background: var(--darker-primary-color);
  text-decoration: none;

  transition: all 0.08s steps(2);
}

.copylink {
  display:block;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  font-size: 24;

}

.colorPicker {
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.colorPicker > * {
  margin-right: 8px;
  transition: all 0.08s steps(2);
}

.colorPicker > *:hover {
  transition: all 0.16s steps(3);
} 

.colorPicker > *.active {
  transition: all 0.08s steps(2);
} 

.coloredDot {

  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  transform-origin: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px transparent;
}

.coloredDot::after{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: block;
  content:"";
  box-sizing: content-box;
   border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  opacity:0;
    /* mask */

}



.coloredDot:hover {
  cursor: pointer;
  transform: scale(1.1);


}

.coloredDot.active {
  border: solid var(--white-value) 2px;
  box-shadow: 0 0 0 1px var(--darker-primary-color);

}

.coloredDot.active::after{
  opacity: 0;
  mask: url("../img/denim.png");
  mask-size: 240px;
  mask-type: alpha;
}

.coloredDot:hover::after{
  opacity: 0;
}


.colorPickerSeparator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
  color: var(--medium-value);
  width:4px;
  height:16px;
}

.themeToggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:20px;
  height:20px;
  margin-right:8px;
  color: var(--medium-value);
  vertical-align: middle;
  line-height: 1;
  
}

.themeToggle:hover {
  color: var(--black-value);
  transform: scale(1.1);
}

#back-to-top-btn {
  --btn-bg: var(--medium-value);
  --btn-bg-hover: var(--primary-color);
  --btn-color: white;
  --btn-size: 48px;
  --btn-right: calc((100% - (860px + 48px * 2))/2 - 48px);
  --btn-bottom: 70px;
}

@media print, screen and (max-width: 1148px) {
  /* 860+(48+48*2)*2 columnWidth + (buttonWidth + spacer * 2) *2 */
  #back-to-top-btn {
    /* available spacing insufficient for proper display */
    display: none;
  }
}

@media print, screen and (max-width: 960px) {
  #back-to-top-btn {
    --btn-right: calc(50% - 20px);
    --btn-bottom:20px;
    --btn-size: 40px;
    display: flex;
    transform: translateY(50%); 
  }
}